/* src/components/Home.css */
.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* Ocupa a altura total da viewport */
    background-color: #f5f5f5; /* Cor de fundo suave */
}

.login-box {
    width: 300px;
    padding: 2rem;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra suave para melhor estética */
    border-radius: 8px;
    margin-bottom: 30px; /* Espaçamento entre o formulário de login e os DevLinks */
}

.input-group {
    margin-bottom: 1rem;
}

.input-group label {
    display: block;
    margin-bottom: 0.5rem;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc; /* Bordas suaves */
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
}

button:hover {
    background-color: #0056b3;
}

/* Estilização adicional para DevLinks */
.dev-links {
    text-align: center;
    width: 100%;
}

.dev-links h4 {
    margin: 10px 0;
    color: #666; /* Cor suave para o texto */
}

.dev-links ul {
    list-style: none;
    padding: 0;
}

.dev-links li {
    display: inline;
    margin-right: 10px;
}

.dev-links a {
    color: black; /* Cor de texto preta para visibilidade no fundo branco */
    text-decoration: none;
}

.dev-links a:hover {
    background-color: transparent; /* Remove qualquer fundo no hover */
    color: blue; /* Opção para mudar a cor no hover para azul, ou manter preto se preferir */
}
