@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

.navbar {
    width: 50px;
    height: 100vh;
    background-color: #000000; /* Cor de fundo preta */
    position: fixed;
    left: 0;
    top: 0;
    overflow: hidden;
    transition: width 0.3s ease;
    border-right: 3px solid #333333; /* Bordas um pouco mais claras para definir */
    font-family: 'Montserrat', sans-serif;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.navbar:hover, .navbar:not(.collapsed) {
    width: 200px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

li {
    display: flex;
    align-items: center;
    height: 50px;
    color: white; /* Texto branco */
}

li:hover {
    background-color: #333333; /* Cinza escuro para hover */
}

a {
    text-decoration: none;
    color: white; /* Cor de texto branca */
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.link-text {
    margin-left: 10px;
    display: none;
    font-weight: 600;
}

.navbar:hover .link-text, .navbar:not(.collapsed) .link-text {
    display: block;
}

.fa-icon {
    min-width: 20px;
    text-align: center;
}

/* Remove o underline dos links */
a {
    text-decoration: none;
}
